@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('/fonts/JetBrainsMono-Bold.ttf');
}
@font-face {
    font-family: 'JetBrains Mono ExtraBold';
    src: url('/fonts/JetBrainsMonoNL-ExtraBold.ttf');
}
a {
    text-decoration: none;
}

:root {
    --white: rgb(255, 254, 233);
    --extraWhite: rgb(255, 255, 253);
    --gray: rgb(62, 62, 62);
    --darkGray: rgb(42, 42, 42);
}

body {
    background-color: var(--gray);
    margin: 0;
    width: 100%;
    font-family: 'JetBrains Mono Bold', Courier, monospace;
    color: var(--white);
}
#pdfBody {
    height: 100vh;
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--darkGray);
    width: 100%;
    height: 75px;
    position: fixed;
    top: 0;
}

.boldText {
    font-size: 18px;
    color: var(--extraWhite);
}

#headName {
    color: var(--white);
}

.transition {
    transition-property: width, box-shadow, height, font-size;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.fa-solid,
.fa-brands {
    font-size: 23px;
}

#resumeButton,
#gitButton,
#emailButton {
    border-radius: 10%;
    border-style: dotted;
    border-left: 0;
    border-right: 0;
    font-family: 'JetBrains Mono Bold', Courier, monospace;
    background-color: rgb(13, 13, 13);
    color: white;
}
#resumeButton:active,
#gitButton:active,
#emailButton:active {
    background-color: var(--white);
    color: black;
    border-color: black;
}

#resumeButton {
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 38px;
}
#resumeButton:hover {
    font-size: 14px;
    width: 67px;
    height: 40px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 40%);
}

#gitButton,
#emailButton {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 40px;
}

#gitButton:hover,
#emailButton:hover {
    height: 40px;
    width: 42px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 40%);
}

#card-container {
    margin-top: 95px;
    gap: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.projectCont {
    margin-top: -20px;
}

.theLine {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 10px;
    margin-top: -20px;
    margin-bottom: -10px;
    font-size: 23px;
}
.line2 {
    margin-bottom: -30px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#typeText {
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 0.12em solid rgb(57, 169, 229);
    animation: typing 1.1s steps(6) 1s 1 normal both, blink 1s steps(1) infinite;
}
@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 88px;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}

#card1 {
}

.cardBack {
    border-radius: 3%;
    background-color: rgb(57, 169, 229);
    height: 150px;
    width: 7px;
    margin-left: 10px;
    margin-right: 13px;
}
.cardBack2 {
    height: 240px;
    width: 10px;
}
.cardBack3 {
    width: 5px;
    height: 120px;
}

.textButton {
    text-decoration: underline;
    background-color: var(--white);
    color: black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 1px;
    transition-property: padding-left, padding-right, padding-top, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}
.textButton:hover {
    padding-top: 2px;
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: -2px 2px 10px rgba(0, 0, 0, 40%);
}
.textButton:active {
    background-color: black;
    color: var(--white);
}

iframe {
    margin-top: 76px;
    height: 100%;
    width: 100%;
}

#card4 {
    margin-top: -25px;
    margin-bottom: 70px;
}
.cardBack4 {
    margin-top: 20px;
    width: 5px;
    height: 200px;
}
#icon-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.icon-row {
    display: flex;
    gap: 10px;
}
.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-style: dashed;
    border-width: 2px;
    border-radius: 10px;
    width: 80px;
    height: 80px;
    background-color: rgba(0, 0, 0, 30%);
}

.fa-html5,
.fa-css3-alt,
.fa-js-square,
.fa-node,
.fa-react {
    font-size: 3.3rem;
}
.fa-html5 {
    color: rgb(202, 63, 63);
}
.fa-css3-alt {
    color: rgb(47, 47, 239);
}
.fa-js-square {
    color: rgb(229, 229, 95);
}
.fa-node {
    color: rgb(62, 125, 62);
}
.fa-react {
    color: rgb(61, 207, 240);
}
.photoshop,
.audition {
    height: 60px;
}
.premiere {
    height: 66px;
}
